//color
$color-1: #060714;
$color-2: #262840;
$color-3: #7780A1;
$color-4: #DDE0E8;
$color-5: #F1F1F6;
$color-6: #F2F3F6;
$color-7: #2A27C9;
$color-8: #514CFF;
$color-9: #EAE9FA;
$color-10: #E5E4FF;
$color-11: #76DECC;
$color-12: #EA6CBC;
$color-13: #FB4539;
$color-13: #FFFFFF;

